html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  background: url(../image/bgs/yellow.jpg) center no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  max-width: 1000px;
}

.panel {
  background: #FFCB29;
  border: black 2px solid;
  border-radius: 10px;

  margin: 10px auto;
  padding: 10px;
  width: fit-content;

  display: list-item;
  list-style-type: none;
}

.retrievedMsg {
  display: list-item;
  margin: 5px 0;
}