/* Game table structure */

.gameTable {
  margin: 0;
  border: hidden;
}

td,
th {
  padding: 0;
}

#userTable tr>* {
  border: 1px solid #cccccc;
}

.charValue,
.tableHeader {
  padding: 5px 15px;
  width: 200px;
  height: 80px;

  transition: 
    color .1s linear, 
    background-color .1s linear, 
    box-shadow .1s linear;
}

/* charValue clases */

.charValue {
  background-color: #e7e7e7;
  color: black;
  z-index: 0;
}

/* здесь вставлен not() с несуществующим селектором класса .lol, чтобы селектор был выше в приоритете чем селектор .curPlr:not([class~='colHeader']) */
.charValue:not(.dead):hover {
  box-shadow: 0px 0px 8px 3px #b7b7b7;
  position: relative;
  z-index: 10;
}

/* textFitted */

.textFitted {
  padding: 0;
}

.colHeader .textFitted {
  user-select: none;
}

.charValue .textFitted {
  user-select: none;
  visibility: hidden;
}

.shownValue .textFitted {
  user-select: auto;
  visibility: visible;
}

.owned .textFitted {
  visibility: visible;
}

/* Table headers */

.tableHeader {
  font-weight: bold;
}

.colHeader {
  background-color: #00BAA2;
  color: #00ffdd;

  display: flex;
}

.colHeader:hover {
  background-color: #008a77;
}

.rowHeader {
  background-color: #B4AA99;
  color: #f0e5d2;
}

.rowHeader:hover {
  background-color: #8b8477;
}

/* Player Name Input */

.plrNameInput {
  cursor: pointer;
  border: 0;
  border-bottom: 2px solid #00ffdd;
  background-color: transparent;

  color: #00ffdd;
  font-size: 25px;
  font-weight: inherit;
  width: 100%;

  text-align: center;
  margin: auto auto;
}

.plrNameInput:focus-visible {
  outline: transparent;
}
