.gameTable {
  margin: 0 auto;
}

td,
th {
  padding: 0;
}

#userTable {
  border-collapse: collapse;
  border: hidden;
}

#userTable tr>* {
  border: 1px solid #cccccc;
}

.tableHeader {
  font-size: 20px;
}

.charValue,
.tableHeader {
  padding: 5px 15px;
  width: 200px;
  height: 80px;

  transition: 
    color .1s linear, 
    background-color .1s linear, 
    box-shadow .1s linear;
}

.charValue {
  background-color: #e7e7e7;
  color: black;
  z-index: 0;
}

/* Для игроков */
/* .shownValue[class~='owned']::after {
  background-color: #ffffff;
  background: linear-gradient(to right, transparent, #b7b7b7);
}
.shownValue[class~='owned']:active::after {
  width: 100%;
  transition: width .3s linear;
} */

.disabled {
  cursor: default;
  background-color: #bfbfbf;
}

.disabled:hover {
  box-shadow: 0px 0px 0px 0px transparent;
}

.charValue .textFitted {
  user-select: none;
  visibility: hidden;
}

.shownValue .textFitted {
  user-select: auto;
  visibility: visible;
}

.owned .textFitted {
  visibility: visible;
}

.colHeader {
  background-color: #00BAA2;
  color: #00ffdd;
}

.colHeader:hover {
  background-color: #008a77;
}


.rowHeader {
  background-color: #B4AA99;
  color: #f0e5d2;
}

.rowHeader:hover {
  background-color: #8b8477;
}


.cornerBtns {
  border: 0;
}