/* Global elems */

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  
  margin: 0;
  height: 100vh;
  min-width: 500px;

  background: url(../image/bgs/yellow-wo-stripes.jpg) center no-repeat;
  background-size: cover;

  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; */


  font-family: 'Open Sans', sans-serif;
}

/* Strapes */

body::before, body::after {
  content: "";
  display: block;
  background: repeat-x center url(../image/bgs/barricade-strapes.png);
  background-size: 1000px;
  height: 20px;
  width: 100%;

  position: absolute;
  left: 0;
}
body::after {
  bottom: 0;
}
body::before{
  top: 0;
}



.wrapper {
  min-width: 1000px;
  min-height: 500px;
}

/* Standard button */

.btn {
  background-color: #A9ED26;
  border: black 2px solid;
  border-radius: 5px;

  transition: color .1s linear, background-color .1s linear;
}
.btn:hover {
  background-color: #9eca4d;
}
.btn:active {
  background-color: #C1F65B;
}
.btn:disabled {
  background-color: #bdbe4f;
  /* background-color: #99af6f; */
  color: gray;
}



.panel {
  width: 100%;

  background: #FFCB29;
  border: black 2px solid;
  border-radius: 10px;

  padding: 10px;
}


.sec1 {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;

  position: absolute;
  top: 40px;
}

.globalTraits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: 0 0 0 20px;
  max-width: 250px;
  min-width: 250px;
}

p {
  font-size: 16px;
}

strong {
  font-weight: bold;
}

li {
  font-size: 16px;
  list-style-type: disc;
  /* padding: 0 0 0 5px; */
}

ul {
  padding-left: 20px;
}