/* Trait interactions */

.changedTrait {
  box-shadow: 0px 0px 8px 3px #ffcb29;
  position: relative;
  z-index: 10;
}

.shownValue {
  background-color: #ffffff;
  cursor: default;
}

.dead {
  cursor: default;
  background-color: #bfbfbf;
}

.dead:hover {
  box-shadow: 0px 0px 0px 0px transparent;
}

/* Trait click animation */

.charValue::after {
  content: "";
  background: linear-gradient(to right, transparent, #ffffff);
  height: 80px;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.clickable::after {
  width: 100%;
  /* НЕ ЗАБЫВАТЬ МЕНЯТЬ ТАЙМИНГ В СКРИПТЕ!!! */
  transition: width .3s linear; 
}


/* Для игроков */
/* .shownValue[class~='owned']::after {
  background-color: #ffffff;
  background: linear-gradient(to right, transparent, #b7b7b7);
}
.shownValue[class~='owned']:active::after {
  width: 100%;
  transition: width .3s linear;
} */


/* Context Menu */

.contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

  background-color: #FFCB29;
  box-shadow: 0px 0px 8px 3px #b7b7b7;
}

.cmItem {
  padding: 5px 10px;
  cursor: pointer;
}

.cmItem:hover {
  background-color: #ddaf26;
}

/* Current player trait interaction */

.curPlr:not([class~='colHeader']) {
  cursor: pointer;
  box-shadow : 
    2px 0px 0px 0px #ffcb29, 
    -2px 0px 0px 0px #ffcb29;
  z-index: 1; /* нужно добавить аттрибут position. ИЛИ НЕ НУЖНО, ХЗ */
}

.selectedRow {
  box-shadow : 
    0px 2px 0px 0px #ffcb29, 
    0px -2px 0px 0px #ffcb29;
  z-index: 1;
}

/* Voting */

.votes {
  /* display: ; */
  position: absolute;
}

.colHeader:not([class~='curPlr']):after {
  content: ' ';
  display: block;

  background-color: #ffcb29;
  width: 5px;
  height: 50%;

  position: absolute;
  top: 20px;
  left: 8px;
}