/* Trait click animation */

.charValue::after {
  content: "";
  background: linear-gradient(to right, transparent, #ffffff);
  height: 80px;
  width: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.clickable::after {
  width: 100%;
  /* НЕ ЗАБЫВАТЬ МЕНЯТЬ ТАЙМИНГ В СКРИПТЕ!!! */
  transition: width .3s linear; 
}

.shownValue {
  background-color: #ffffff;
  cursor: default;
}

/* Context Menu */

.contextMenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;

  background-color: #FFCB29;
  box-shadow: 0px 0px 8px 3px #b7b7b7;
}

.cmItem {
  padding: 5px 10px;
  cursor: pointer;
}

.cmItem:hover {
  background-color: #ddaf26;
}

/* Current player trait interaction */

.curPlr {
  cursor: pointer;
  box-shadow : 
    2px 0px 0px 0px #ffcb29, 
    -2px 0px 0px 0px #ffcb29;
  z-index: 1; /* нужно добавить аттрибут position. ИЛИ НЕ НУЖНО, ХЗ */
}

.selectedRow {
  box-shadow : 
    0px 2px 0px 0px #ffcb29, 
    0px -2px 0px 0px #ffcb29;
  z-index: 1;
}

.changedTrait {
  box-shadow: 0px 0px 8px 3px #ffcb29;
  position: relative;
  z-index: 10;
}